{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="col-6" id="notebook">
    <div class="text-center pt-5" id="notebook-not-loaded">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <h2>Notebook loading...</h2>
      <p>Please wait for about 10 seconds</p>
    </div>
  </div>
  <div class="col-6" id="simulator">
    <div class="text-center pt-5" id="simulator-not-loaded">
      <h2>Simulator not set up...</h2>
      <p>
        Run the Notebook on the left to start the simulator. Make sure the
        logging level is at least <code>INFO</code>
      </p>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}

<script>
  var config = {
    master_websocket_url: "{{ master_web_socket_url }}",
  };
</script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
