{% extends "layout.html" %} {% block content %}

<div id="first-time-window" style="display: none">
  <div id="first-time-message">
    <h1>Welcome to the PyLabRobot Platform!</h1>

    <p>
      PyLabRobot is currently in
      <a
        target="_blank"
        href="https://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha"
        >Alpha</a
      >. This means that you may encounter bugs and missing features, but also
      that you have the opportunity to significantly influence the development
      of the platform.
    </p>

    <p>
      We'd really appreciate it if you share any unexpected behavior, errors and
      feature requests by creating a post on the
      <a
        target="_blank"
        href="https://forums.pylabrobot.org/c/pylabrobot-simulator/25"
        >forum</a
      >.
    </p>

    <p>Enjoy!</p>

    <div id="first-time-buttons">
      <button id="first-time-close" onclick="closeFirstTimeMessage();">
        Close
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6" id="notebook">
    <div class="text-center pt-5" id="notebook-not-loaded">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <h2>Notebook loading...</h2>
      <p>Please wait for about 10 seconds</p>
    </div>

    <div class="text-center pt-5" id="notebook-stopped" style="display: none">
      <h1 style="font-size: 5em">&times;</h1>
      <h2>Notebook offline</h2>
      <p>Reload the page to restart</p>
    </div>
  </div>
  <div class="col-6" id="simulator">
    <div class="text-center pt-5" id="simulator-not-loaded">
      <h2>Simulator not set up...</h2>
      <p>Run the Notebook on the left to start the simulator.</p>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}

<script>
  var config = {
    master_websocket_url: "{{ master_web_socket_url }}",
  };
</script>
<script src="{{ url_for('static', filename='main.js') }}?t={{ range(0, 9999999999999) | random }}"></script>
{% endblock %}
